<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - EarlyMinter</title>
    <link rel="preload stylesheet" href="/assets/css/style.css">

</head>

<body class="lazy d-flex flex-column min-vh-100 <%= otherpage ? 'other-page' : '' %>">


    <!-- =========================================================================================
                        HEADER SECTION
    ===============================================================================================-->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="/" aria-label="Early Minter"><img src="/assets/img/logo.webp" alt="Early Minter" height="40" loading="lazy"></a>
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-column align-items-center d-flex flex-md-row align-items-md-start ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">NFT</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Token</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Litepaper</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <ul class="navbar-nav d-flex flex-column align-items-center d-flex flex-md-row align-items-md-start ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link accent-text-color" href="#" aria-label="Discord"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link accent-text-color" href="#" aria-label="Twitch"><i class="fa-brands fa-twitch"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link accent-text-color" href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="#">EN</a>
                    </li>
                  </ul>
              </div>
            </div>
          </nav>
    </header>