<%- include('partials/header')%>

<!-- =========================================================================================
                        HERO SECTION
    ===============================================================================================-->
    <section id="hero">

        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start" id="hero-text-area">
                    <h1 class="text-center text-md-start">
                        <span>Read to</span> Earn
                    </h1>
                    <p class="lead text-uppercase mb-5 d-none d-md-block">
                        Get paid to read independent and reliable<br/>News from authors all around the globe!
                    </p>

                    <a href="#" class="btn btn-primary btn-md-lg default-button primary-button text-uppercase mt-3 mt-md-0" role="button">Learn More</a>
                    <a href="#" class="btn btn-default btn-lg default-button transparent-button text-uppercase d-none" role="button"> <img src="/assets/img/play_icon.png" alt="play" loading="lazy"> Watch Video</a>
    
                </div>
    
                <div class="col-md-6 position-relative">
                    <img src="/assets/img/coin_one.webp" id="coin-one" class="floating position-absolute" alt="Coin One"  loading="lazy" />
                    <img src="/assets/img/coin_two.webp" id="coin-two" class="floating position-absolute" alt="Coin Two" />
                    <img src="/assets/img/coin_three.webp" id="coin-three" class="floating position-absolute" loading="lazy" alt="Coin Three" />
                </div>

            </div>

        </div>
        

        <div class="container-fluid">
            <div class="row" id="countries-row">

                <h2 class="text-uppercase text-center d-block d-md-none"><span>Early</span>minter Will Offer News and Articles to Over <span>200+</span> Countries</h2>

                <div class="col glassmorphic p-0 pt-3">
    
                    <h2 class="text-uppercase text-center d-none d-md-block"><span>Early</span>minter Will Offer News and Articles to Over <span>200+</span> Countries</h2>
    
                    <marquee direction="left" class="mt-3"  scrollamount="10">
                        <ul id="countries-list">
                        </ul>
                    </marquee>
                </div>
    
            </div>
        </div>
        <!-- NOT VISIBLE ON XS & SM DEVICES END -->

    </section>


    <!-- =========================================================================================
                        GET ACCESS WITH OUR NFTS SECTION
    ===============================================================================================-->
    <section class="section" id="get-access-nft-section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-6 py-md-5">

                    <h2 class="section-heading text-center text-md-start">Get Access with our <span>NFTs</span></h2>

                    <!-- NOT VISIBLE ON XS & SM DEVICES START -->
                    <p class="section-text pe-5 mt-3 d-none d-md-block mb-5">By becoming an owner of one of our NFTs, you will receive exclusive access to the Read-to-earn app!</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-none d-md-inline" role="button">Learn More</a>
                    <!-- NOT VISIBLE ON XS & SM DEVICES END -->
                </div>

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-md-start">

                    <img src="/assets/img/nft_image.webp" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">

                    <!-- ONLY VISIBLE ON XS & SM DEVICES START -->
                    <p class="section-text mt-3 d-block d-md-none text-center mb-5">By becoming an owner of one of our NFTs, you will receive exclusive access to the Read-to-earn app!</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-none" role="button">Learn More</a>
                    <!-- ONLY VISIBLE ON XS & SM DEVICES END -->
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        EARN MINTIES SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-md-start align-items-center">

                     <!-- ONLY VISIBLE ON XS DEVICES START -->
                     <h2 class="section-heading d-block d-md-none text-center">Earn <span>Minties</span></h2>
                     <!-- ONLY VISIBLE ON XS DEVICES END -->

                    <img src="/assets/img/earn_minties.webp" class="img-fluid floating mt-5 mt-md-0" alt="" loading="lazy">

                </div>

                <div class="col-md-6 py-md-5">

                     <!-- NOT VISIBLE ON XS DEVICES START -->
                     <h2 class="section-heading d-none d-md-block">Earn <span>Minties</span></h2>
                     <!-- NOT VISIBLE ON XS DEVICES END -->
                    <p class="section-text pe-sm-3 mt-sm-3 text-center text-md-start mb-5">By reading the articles and news posted on the app, you will receive a specific amount of our Minty token as a reward!</p>
                    <a href="#" class="btn btn-primary default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>



    <!-- =========================================================================================
                        STAKE YOUR MINTIES SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-md-start">

                    <h2 class="section-heading text-center text-md-start"><span>Stake</span> your minties</h2>

                    <!-- ONLY VISIBLE ON XS DEVICES START -->
                    <img src="/assets/img/stake_your_minties.webp" class="img-fluid floating d-block d-md-none my-5 my-md-0 mx-auto" alt="" loading="lazy">
                    <!-- ONLY VISIBLE ON XS DEVICES END -->

                    <p class="section-text text-center text-md-start pe-sm-2 mt-3 mb-5">By staking your Minty tokens you'll be able to earn $MINTY rewards when you lock up your tokens through the staking dashboard.</p>
                    <a href="#" class="btn btn-primary default-button primary-button text-uppercase d-block d-md-inline" role="button">Join Whitelist</a>
                </div>

                <div class="col-md-6 py-5">

                    <!-- NOT VISIBLE ON XS DEVICES START -->
                    <img src="/assets/img/stake_your_minties.webp" class="img-fluid floating d-none d-md-block" alt="" loading="lazy">
                    <!-- NOT VISIBLE ON XS DEVICES END -->

                </div>

            </div>

        </div>

    </section>



    <!-- =========================================================================================
                        SEAMLESS EARNINGS SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex flex-column flex-md-row align-items-center align-items-md-start gx-5">

                <div class="col-md-6 py-md-5">

                    <img src="/assets/img/seamless_earning.webp" class="img-fluid floating d-none d-md-block" alt="" loading="lazy">

                </div>

                <div class="col-md-6 py-md-5 d-flex flex-column flex-row-md align-items-md-start align-items-center">

                    <h2 class="section-heading text-center text-md-start mb-5 mb-md-0">Seamless <span>Earnings</span></h2>

                    <img src="/assets/img/mobile_version/seamless_earning.webp" class="img-fluid floating d-block d-md-none mb-5" alt="" loading="lazy">

                    <p class="section-text pe-3 mt-3 text-center text-md-start">Get paid out directly to your<br/>connected wallet.</p>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        CONVERT TO FIAT SECTION
    ===============================================================================================-->
    <section class="section" id="fiat-section">

        <div class="container">

            <div class="row d-flex align-items-center gx-1">

                <div class="col-md-3 py-0 py-md-5 pt-5">

                    <h2 class="gradient-text text-uppercase fs-2 text-center text-md-start">Convert to</h2>
                    <h2 class="gradient-text text-uppercase pe-3 fw-bold fiat-big-text text-center text-md-start">Fiat</h2>
                </div>

                <div class="col-md-6 py-5">

                    <img src="/assets/img/convert_fiat_to_bank.webp" id="fiat-img" class="img-fluid floating" alt="" loading="lazy">

                </div>

                <div class="col-md-3 py-0 py-md-5">

                    <h2 class="gradient-text text-uppercase fs-2 text-center text-md-start">And get paid by</h2>
                    <h2 class="gradient-text text-uppercase pe-3 fw-bold fiat-big-text text-center text-md-start">Bank</h2>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        AIM TO CONNECT BLOGGING SECTION 
    ===============================================================================================-->
    <section class="section mt-5">

        <div class="container">

            <div class="row d-flex align-items-top gx-5">

                <div class="col-md-6 py-5 d-flex flex-column align-items-center">
                    <h2 class="section-heading d-block d-md-none text-center mb-5"><span>Early</span>Minter aims to connect to all existing blogging platforms</h2>
                    <img src="/assets/img/blogging.webp" class="img-fluid floating" alt="" loading="lazy">
                    <img src="/assets/img/shape_2.png" id="shape-2" class="img-fluid d-none d-md-block" alt="" loading="lazy">
                </div>

                <div class="col-md-6 py-2">

                    <h2 class="section-heading d-none d-md-block"><span>Early</span>Minter aims to connect to all existing blogging platforms</h2>
                    <p class="section-text pe-2 mt-0 my-md-5 text-center text-md-start">It doesn't matter if You're a WordPress or a custom solutions API blogger; we aim to connect to all blogging platforms!</p>
                    <a href="#" class="btn btn-primary default-button primary-button text-uppercase mt-5 d-block d-md-inline" role="button">Join Whitelist</a>
                </div>

            </div>


            <div class="row">

                <div class="col-md-2">
                    <img src="/assets/img/shape_3.png" id="shape-3" class="img-fluid float-start d-none d-md-block" alt="" loading="lazy">
                    <img src="/assets/img/shape_5.png" id="shape-5" class="img-fluid float-start d-none d-md-block" alt="" loading="lazy">
                </div>

                <div class="col-md-10 d-flex flex-column align-items-center mt-5 mt-md-0">

                    <h3 class="text-center text-uppercase fw-bold mb-5 mb-md-0">Blogs <span>Implementation</span></h3>
                    <img src="/assets/img/blogs_implementation.webp" class="img-fluid floating" alt="" loading="lazy">
                    <p class="section-text pe-3 text-center mt-5">Owners of blogs and news website can integrate our state of the art extension and connect their platforms to our huge decentralized database to get fresh, trustworthy and reliable content in real time published.</p>


                    <!-- AUTHORS SECTION
                    ========================================================================================================  -->
                    <div class="row mt-5 my-md-0" id="author-section">
                        <div class="col-md-3 d-flex flex-column align-items-center">
                            <h3 class="text-uppercase fw-bold d-block d-md-none text-center">Authors</h3>
                            <img src="/assets/img/authors.webp" class="img-fluid floating float-center" alt="" loading="lazy">
                        </div>

                        <div class="col-md-7 align-self-center" id="author-section-text-area"> 
                            <h3 class="text-uppercase fw-bold d-none d-md-block">Authors</h3>
                            <p class="section-text mt-3 text-center text-md-start">Make money selling your articles to our huge network of blogs or by sponsoring promotions of our advertisers.</p>


                            <!-- READERS SECTION
                        ========================================================================================================  -->

                            <div class="row my-5 my-md-0" id="readers-img">
                                <div class="col-md-6 d-flex flex-column align-items-center">

                                    <h3 class="text-uppercase fw-bold text-center text-md-start">Readers</h3>
                                    <img src="/assets/img/readers.webp" class="img-fluid floating d-block d-md-none my-5 my-md-0" alt="" loading="lazy">
                                    <p class="section-text mt-3 text-center text-md-start">Make money by reading and interacting with articles published on our platform.</p>

                                </div>
    
                                <div class="col-md-6">
    
                                    <img src="/assets/img/readers.webp" class="img-fluid floating float-end d-none d-md-block" alt="" loading="lazy">
    
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 align-self-start">
                            <img src="/assets/img/shape_4.png" id="shape-4" class="img-fluid d-none d-md-block" alt="" loading="lazy">
                        </div>

                    </div>

                    <!-- ADVERTISERS SECTION
                        ========================================================================================================  -->

                    <div class="row">

                        <div class="col-md-3 d-flex flex-column align-items-center">
                            <h3 class="text-uppercase fw-bold d-block d-md-none text-center my-5 my-md-0">Advertisers</h3>
                            <img src="/assets/img/advertiser.webp" class="img-fluid floating float-center" alt="" loading="lazy">

                        </div>

                        <div class="col-md-6 align-self-center">

                            <h3 class="text-uppercase fw-bold d-none d-md-block">Advertisers</h3>
                            <p class="section-text mt-3 text-center text-md-start">Reach a global audience that relies on trustworthy news. Get your press released and articles in front of a huge audience.</p>

                        </div>

                    </div>

                </div>


            </div>

        </div>

    </section>



    <!-- =========================================================================================
                        EARN FROM EVERYWHERE SECTION
    ===============================================================================================-->
    <section class="section" id="earn-from-everywhere-section">

        <div class="container">

            <div class="row">

                <div class="col col-md-6 offset-md-3 py-5 d-flex flex-column">

                    <h2 class="text-center">Earn</h2>
                    <h2 class="gradient-text text-center">From</h2>
                    <h2 class="text-center">Everywhere</h2>
                    <a href="#" class="btn btn-primary btn-lg default-button primary-button text-uppercase mt-5 align-self-center d-none d-md-block" role="button">Join Whitelist</a>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        ROADMAP SECTION  - ONLY VISIBLE ON XS, SM & MD DEVICES 
    ===============================================================================================-->
    <section class="section d-block d-lg-none mt-5" id="roadmap-xs-section">

        <div class="container-fluid">
            
            <div class="row mb-5">

                <h2 class="text-center gradient-text text-uppercase display-1 fw-bold">Roadmap</h2>

            </div>


            <!-- PHASE 01 SECTION
            ========================================================================================================  -->

            <div class="row">

                <div class="col d-flex flex-column align-items-end">
                    <img src="/assets/img/skater_1.webp" class="img-fluid floating" alt="" loading="lazy">
                </div>

                <div class="col">
                    
                    <h3 class="fw-bold fs-2">Phase 01</h3>
                    <ul>
                        <li>Token Generation Event (TGE)</li>
                        <li>MINTY Wallet App</li>
                        <li>MINTY staking (Grow)</li>
                        <li>MVP: Rewards for staking MINTY</li>
                    </ul>
                </div>

                <div class="row d-flex flex-column align-items-start">
                    
                            
                            <!-- PHASE 01 SKATE BAR
                            ========================================================================================================  -->
                            <img src="/assets/img/mobile_version/skate_bar_1.png" id="skate-bar-1-mobile" class="img-fluid" alt="" loading="lazy">

                    
                    
                    <div class="col-6">
                        <h3 class="fw-bold fs-2">Phase 02</h3>
                        <ul>
                            <li>Token Generation Event (TGE)</li>
                            <li>MINTY Wallet App</li>
                            <li>MINTY staking (Grow)</li>
                            <li>MVP: Rewards for staking MINTY</li>
                        </ul>
                    </div>

                    <div class="col"></div>


                </div>

            </div>

            <!-- PHASE 02 SECTION
            ========================================================================================================  -->

            <div class="row" id="phase-2-mobile-row">

                <div class="col d-flex flex-column align-items-end">
                    <img src="/assets/img/mobile_version/skate_bar_2.png" class="img-fluid" alt="" loading="lazy">
                    <div id="phase-2-skater-mobile-img">
                        <img src="/assets/img/mobile_version/skater_2.png" class="img-fluid floating" alt="" loading="lazy">
                    </div>
                </div>

            </div>


            <!-- PHASE 03 SECTION
            ========================================================================================================  -->

            <div class="row">

                <div class="col">
                    <div id="phase-3-mobile-img">
                        <img src="/assets/img/mini_factory.webp" class="img-fluid floating" alt="" loading="lazy">
                    </div>
                </div>

                <div class="col">
                    <h3 class="fw-bold fs-2">Phase 03</h3>
                    <ul>
                        <li>Token Generation Event (TGE)</li>
                        <li>MINTY Wallet App</li>
                        <li>MINTY staking (Grow)</li>
                        <li>MVP: Rewards for staking MINTY</li>
                    </ul>
                </div>

            </div>

            <!-- PHASE 04 SECTION
            ========================================================================================================  -->

            <div class="row d-flex flex-row align-items-end">

                <div class="col-5">
                    <h3 class="fw-bold fs-2">Phase 04</h3>
                    <ul>
                        <li>Token Generation Event (TGE)</li>
                        <li>MINTY Wallet App</li>
                        <li>MINTY staking (Grow)</li>
                        <li>MVP: Rewards for staking MINTY</li>
                    </ul>
                </div>

                

                <div class="col">
                    <div>
                        <img src="/assets/img/mobile_version/shape_2.webp" class="img-fluid" alt="" loading="lazy">
                        <img src="/assets/img/skater_3.webp" class="img-fluid floating" alt="" loading="lazy">
                    </div>
                </div>


            </div>


        </div>

    </section>


    <!-- =========================================================================================
                        ROADMAP SECTION  - NOT VISIBLE ON XS, SM & MD DEVICES 
    ===============================================================================================-->
    <section class="section d-none d-lg-block" id="roadmap">

        <div class="container">
            
            <div class="row mb-5">

                <h2 class="text-center gradient-text text-uppercase display-1 fw-bold">Roadmap</h2>

            </div>

            <div class="row d-flex align-items-top gx-5 pt-5">


                <!-- ROADMAP LEFT COLUMN 
                    ========================================================================================================  -->

                <div class="col-md-6 py-5">

                    <!-- PHASE 01 SECTION
                    ========================================================================================================  -->

                    <div class="row">

                        <div class="col-md-6">

                            <img src="/assets/img/skater_1.webp" class="img-fluid floating" alt="" loading="lazy">

                        </div>

                        <div class="col-md-6">

                            <h3 class="fw-bold fs-2">Phase 01</h3>
                            <ul class="fs-5">
                                <li>Token Generation Event (TGE)</li>
                                <li>MINTY Wallet App</li>
                                <li>MINTY staking (Grow)</li>
                                <li>MVP: Rewards for staking MINTY</li>
                            </ul>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md">
                            
                            <!-- PHASE 01 SKATE BAR
                            ========================================================================================================  -->
                            <img src="/assets/img/skate_bar_1.webp" class="img-fluid" alt="" loading="lazy">

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <!-- PHASE 03 FACTORY IMAGE
                            ========================================================================================================  -->
                            <img src="/assets/img/mini_factory.webp" id="phase-3-factory-img" class="img-fluid floating" alt="" loading="lazy">

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <img src="/assets/img/bar_3.webp" class="img-fluid" alt="" loading="lazy">

                        </div>
                        <div class="col-md-6" id="phase-3">

                            <h3 class="fw-bold fs-2">Phase 03</h3>
                            <ul class="fs-5">
                                <li>Token Generation Event (TGE)</li>
                                <li>MINTY Wallet App</li>
                                <li>MINTY staking (Grow)</li>
                                <li>MVP: Rewards for staking MINTY</li>
                            </ul>

                        </div>

                    </div>

                </div>



                <!-- ROADMAP RIGHT COLUMN 
                    ========================================================================================================  -->

                <div class="col-md-6 py-5">

                    <!-- PHASE 01 CLOUD 01
                    ========================================================================================================  -->
                    <div class="row">
                        <div class="col-md">
                            <img src="/assets/img/cloud_1.webp" id="cloud-1" class="img-fluid floating float-center" alt="" loading="lazy">
                        </div>
                    </div>

                    <!-- PHASE 01 CLOUD 02
                    ========================================================================================================  -->
                    <div class="row">
                        <div class="col-md">
                            <img src="/assets/img/cloud_2.webp" class="img-fluid floating float-end" alt="" loading="lazy">
                        </div>
                    </div>

                    <!-- PHASE 02
                    ========================================================================================================  -->

                    <div class="row" id="phase-2-row">

                        <div class="col-md-6">

                            <h3 class="fw-bold fs-2">Phase 02</h3>
                            <ul class="fs-5">
                                <li>Token Generation Event (TGE)</li>
                                <li>MINTY Wallet App</li>
                                <li>MINTY staking (Grow)</li>
                                <li>MVP: Rewards for staking MINTY</li>
                            </ul>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md d-flex flex-column align-items-end">

                            <img src="/assets/img/skate_bar_2.webp" id="skate-bar-2" class="img-fluid" alt="" loading="lazy">

                            <img src="/assets/img/skater_2.webp" id="skater-2-img" class="img-fluid floating" alt="" loading="lazy">


                        </div>

                    </div>




                </div>

            </div>

            <!-- PHASE 04 SECTION
                    ========================================================================================================  -->
            <div class="row">
                <div class="col-md-5 offset-3">
                    <img src="/assets/img/skater_3.webp" id="skater-3-img" class="img-fluid floating" alt="" loading="lazy">
                </div>

                <div class="col-md-4" id="phase-4-text-area">

                    <h3 class="fw-bold fs-2">Phase 04</h3>
                    <ul class="fs-5">
                        <li>Token Generation Event (TGE)</li>
                        <li>MINTY Wallet App</li>
                        <li>MINTY staking (Grow)</li>
                        <li>MVP: Rewards for staking MINTY</li>
                    </ul>

                </div>
            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        TEAM SECTION
    ===============================================================================================-->
    <section class="section" id="team-section">

        <div class="container">
            
            <div class="row">

                <h2 class="section-heading text-center"><span>Team</span> behind EarlyMinter</h2>

                <h3 id="hypez" class="text-center mt-5">Hypez</h3>

            </div>

            <div class="row d-flex align-items-center gx-5 py-5">

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-center align-items-md-start">

                    <img src="/assets/img/team.webp" class="img-fluid floating" alt="" loading="lazy">

                </div>

                <div class="col-md-6 py-5">
                    <h2 class="fs-1 fw-bold text-center text-md-start">Blockchain Marketing & Development Agency</h2>
                    <p class="section-text pe-3 mt-3 text-center text-md-start">Our mission is to put reliable and dynamic blockchain solutions in the hands of our clients, so as to position them perfectly for the coming web3 revolution.</p>
                    <p class="section-text pe-3 mt-3 text-center text-md-start">At Hypez we help crypto and blockchain startups create paradigm-shifting solutions that could change the world with the power of web3. Our experienced team of experts in the field of blockchain app development specialise in building technical solutions that can be applied across a wide range of industries.</p>
                    <a href="#" class="btn btn-primary default-button primary-button text-uppercase mt-5 d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

            <div class="row d-flex align-items-end gx-5 py-5">

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-center align-items-md-start">
                    <h2 class="section-heading text-center text-md-start">Meet our live stream</h2>
                    <!-- ONLY VISIBLE ON XS & SM DEVICES START -->
                    <img src="/assets/img/meet_live_stream.webp" class="img-fluid floating my-5 d-block d-md-none" alt="" loading="lazy">
                    <!-- ONLY VISIBLE ON XS & SM DEVICES END -->

                    <p class="section-text pe-3 mt-3 text-center text-md-start">As a verified and one of the biggest channels on Binance Live, our community reached the milestones of 50 thousand followers and over 15 million likes on the platform! GameFi, Crypto trading, Project reviews, and much more!</p>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <a href="#" class="btn btn-primary default-button secondary-button text-uppercase d-block d-md-inline" role="button">Join Live Now</a>
                        </div>
                        <div class="col-lg d-flex flex-column flex-row-md align-items-center align-items-md-start">
                            <img src="/assets/img/on_binance.webp" class="img-fluid mt-4 mt-md-0" alt="" loading="lazy" />
                        </div>
                        
                    </div>

                </div>


                <!-- NOT VISIBLE ON XS & SM DEVICES START -->
                <div class="col-md-6 py-5 d-none d-md-block">
                    <img src="/assets/img/meet_live_stream.webp" class="img-fluid floating" alt="" loading="lazy">
                </div>
                <!-- NOT VISIBLE ON XS & SM DEVICES END -->

            </div>

        </div>

    </section>

<%- include('partials/footer')%>

