<%- include('partials/header') %>

    <!-- =========================================================================================
                        WELCOME SECTION
    ===============================================================================================-->
    <section class="section mt-5 ">

        <div class="container">

            <div class="row d-flex align-items-center gx-5 mt-5">

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center md-text-start">Read and Collect NFT</h3>
                    <h2 class="section-heading text-center text-md-start text-center text-md-start">Welcome to the magical world of NFT</h2>
                    <img src="/assets/img/nft_world.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text my-3 text-center text-md-start">Discover over 200+ magical artifacts, hunt deadly beasts with incredible strength and unique abilities.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Discover</a>
                </div>

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-end">

                    <img src="/assets/img/nft_world.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-none d-md-block" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        BASE CONCEPT SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/autobattler_game.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Base Concept</h3>
                    <h2 class="section-heading text-center text-md-start my-3">NFT collector and autobattler game</h2>
                    <img src="/assets/img/autobattler_game.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">CryptoKitties, for example, has a small number of main contracts that structure the game. 
                        The most famous is their geneScience contract that determines the random mechanics that generate new cats. 
                        The game developers initially kept its code secret. Interested players even created tools to analyze the odds of 
                        particular traits in cats turning up. With this information, players could optimize their chances of developing a rare breed worth more mone
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Discover</a>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        NFT GALLERY SECTION
    ===============================================================================================-->
    <section class="section my-5">

        <div class="container">

            <div class="row">
                <div class="col">
                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center">Buy NFT</h3>
                    <h2 class="section-heading my-3 text-center">NFT Gallery</h2>
                </div>
            </div>

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-8 py-5 d-flex flex-column flex-row-md align-items-md-start">

                    <img src="/assets/img/nft_gallery_first.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-4 py-md-5 mb-5 mb-md-0">
                    <h2 class="section-heading text-center text-md-start my-3">The Minty<br>Glasses</h2>

                    <div class="bg-white d-flex flex-column align-items-center p-5 rounded-4 nft-gallery-card-bg mb-3 mb-md-0">
                        <h3 class="fs-6 fw-semibold primary-text text-center">Current bid</h3>
                        <h4 class="fs-1">1.00 ETH</h4>
                        <p class="section-text fs-6 fw-medium">$1,560.00</p>
                        <p class="text-center section-text fs-6 fw-medium py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase btn-lg" role="button">Place a Bid</a>
                    </div>
                </div>

            </div>


            <div class="row gy-5">

                <div class="col-12 col-md-3">
                    <div class="rounded-5 nft-gallery-card-bg p-3">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/img/minty_glass_1.png" class="img-fluid mb-2" alt="" loading="lazy">
                        </div>
                        <h4 class="fs-3 fw-bold text-start">The Minty Glasses</h4>
                        <p class="section-text fs-6 fw-medium py-3 text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <div class="row">
                            <div class="col">
                                <a href="" class="fs-5 text-uppercase fw-medium primary-text">Place a Bid</a>
                            </div>
                            <div class="col text-end">
                                <p class="fw-medium fs-4">#201</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="rounded-5 nft-gallery-card-bg p-3">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/img/minty_glass_2.png" class="img-fluid mb-2" alt="" loading="lazy">
                        </div>
                        <h4 class="fs-3 fw-bold text-start">The Minty Glasses</h4>
                        <p class="section-text fs-6 fw-medium py-3 text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <div class="row">
                            <div class="col">
                                <a href="" class="fs-5 text-uppercase fw-medium primary-text">Place a Bid</a>
                            </div>
                            <div class="col text-end">
                                <p class="fw-medium fs-4">#999</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="rounded-5 nft-gallery-card-bg p-3">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/img/minty_glass_3.png" class="img-fluid mb-2" alt="" loading="lazy">
                        </div>
                        <h4 class="fs-3 fw-bold text-start">The Minty Glasses</h4>
                        <p class="section-text fs-6 fw-medium py-3 text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <div class="row">
                            <div class="col">
                                <a href="" class="fs-5 text-uppercase fw-medium primary-text">Place a Bid</a>
                            </div>
                            <div class="col text-end">
                                <p class="fw-medium fs-4">#48</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="rounded-5 nft-gallery-card-bg p-3">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/assets/img/minty_glass_4.png" class="img-fluid mb-2" alt="" loading="lazy">
                        </div>
                        <h4 class="fs-3 fw-bold text-start">The Minty Glasses</h4>
                        <p class="section-text fs-6 fw-medium py-3 text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <div class="row">
                            <div class="col">
                                <a href="" class="fs-5 text-uppercase fw-medium primary-text">Place a Bid</a>
                            </div>
                            <div class="col text-end">
                                <p class="fw-medium fs-4">#105</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row py-5">
                <div class="col d-flex flex-column align-items-md-start">
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase btn-lg d-block d-md-inline" role="button">Browse More</a>
                </div>
            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        NFT COLLECTIONS SECTION
    ===============================================================================================-->
    <section class="section my-5">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-6 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">NFT Collections</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Collect stunning pieces of digital world</h2>
                    <img src="/assets/img/digital_world.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">Discover over 200+ magical artifacts, hunt the deadly beasts that rule this magical world, each with magical powers and unique abilities. 
                        Train and unite your wizards into powerful guilds to increase their power and value to you to create the perfect team.
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

                

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/digital_world.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        JOIN US NOW SECTION
    ===============================================================================================-->
    <section class="section my-5">

        <div class="container">

            <div class="row gx-5">

                <div class="col py-md-5 d-flex flex-column align-items-md-center ">

                    <h2 class="section-heading text-center text-md-start my-3">Join us now</h2>
                    <p class="section-text mt-3 px-5 text-center">Discover over 200+ magical artifacts, hunt deadly beasts<br>
                        with incredible strength and unique abilities.</p>
                    <img src="/assets/img/join_us.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Start Now</a>
                </div>

            </div>

        </div>

    </section>

<%- include('partials/footer') %>