<%- include('partials/header') %>

    <!-- =========================================================================================
                        WELCOME SECTION
    ===============================================================================================-->
    <section class="section mt-5 ">

        <div class="container">

            <div class="row d-flex align-items-center gx-5 mt-5">

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Read and Earn Minties</h3>
                    <h2 class="section-heading text-center text-md-start text-center text-md-start">Read & earn crypto easily</h2>
                    <img src="/assets/img/token.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text my-4 text-center text-md-start">Trade Bitcoin, Ethereum, USDT and other altcoins using our crypto trading app.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Get Started</a>
                </div>

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-end">

                    <img src="/assets/img/token.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-none d-md-block" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        WHAT WE DO SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/what_we_do.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">What We Do</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Trade crypto on your terms. Anywhere.</h2>
                    <img src="/assets/img/what_we_do.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">Invest in Bitcoin, Ethereum, USDT, and other cryptocurrencies using our crypto trading app. 
                        The Bitcoin and cryptocurrency markets have experienced a surge in volume recently, making it an exciting time to become a trader.
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        WHY US SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5 mt-5">

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Why Us</h3>
                    <h2 class="section-heading text-center text-md-start text-center text-md-start">Trade crypto on your terms. Anywhere.</h2>
                    <img src="/assets/img/why_us.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text my-4 text-center text-md-start">Invest in Bitcoin, Ethereum, USDT, and other cryptocurrencies using our crypto trading app. 
                        The Bitcoin and cryptocurrency markets have experienced a surge in volume recently, making it an exciting time to become a trader.
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-end">

                    <img src="/assets/img/why_us.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-none d-md-block" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        TESTIMONIALS DO SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Testimonials</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Millions of users around the world</h2>
                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">It’s an exciting time to become a trader.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>



     <!-- =========================================================================================
                        FAQ SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Testimonials</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Millions of users around the world</h2>
                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">It’s an exciting time to become a trader.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>

<%- include('partials/footer') %>