<%- include('partials/header') %>

    <!-- =========================================================================================
                        WELCOME SECTION
    ===============================================================================================-->
    <section class="section mt-5 ">

        <div class="container">

            <div class="row d-flex align-items-center gx-5 mt-5">

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Read and Earn Minties</h3>
                    <h2 class="section-heading text-center text-md-start text-center text-md-start">Read & earn crypto easily</h2>
                    <img src="/assets/img/token.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text my-4 text-center text-md-start">Trade Bitcoin, Ethereum, USDT and other altcoins using our crypto trading app.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Get Started</a>
                </div>

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-end">

                    <img src="/assets/img/token.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-none d-md-block" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        WHAT WE DO SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/what_we_do.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">What We Do</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Trade crypto on your terms. Anywhere.</h2>
                    <img src="/assets/img/what_we_do.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">Invest in Bitcoin, Ethereum, USDT, and other cryptocurrencies using our crypto trading app. 
                        The Bitcoin and cryptocurrency markets have experienced a surge in volume recently, making it an exciting time to become a trader.
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        WHY US SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5 mt-5">

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Why Us</h3>
                    <h2 class="section-heading text-center text-md-start text-center text-md-start">Trade crypto on your terms. Anywhere.</h2>
                    <img src="/assets/img/why_us.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text my-4 text-center text-md-start">Invest in Bitcoin, Ethereum, USDT, and other cryptocurrencies using our crypto trading app. 
                        The Bitcoin and cryptocurrency markets have experienced a surge in volume recently, making it an exciting time to become a trader.
                    </p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-end">

                    <img src="/assets/img/why_us.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-none d-md-block" alt="" loading="lazy">
                </div>

            </div>

        </div>

    </section>


    <!-- =========================================================================================
                        TESTIMONIALS DO SECTION
    ===============================================================================================-->
    <section class="section">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-7 py-5 d-flex flex-column flex-row-md align-items-md-start d-none d-md-block">

                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center text-md-start">Testimonials</h3>
                    <h2 class="section-heading text-center text-md-start my-3">Millions of users around the world</h2>
                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center text-md-start">It’s an exciting time to become a trader.</p>
                    <a href="#" class="btn btn-primary btn-md default-button primary-button text-uppercase d-block d-md-inline" role="button">Learn More</a>
                </div>

            </div>

        </div>

    </section>



     <!-- =========================================================================================
                        FAQ SECTION
    ===============================================================================================-->
    <section class="section" id="faq">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col py-md-5">

                    <h3 class="fs-6 text-uppercase fw-bold primary-text text-center">Faq</h3>
                    <h2 class="section-heading text-center my-3">Still have questions?</h2>
                    <img src="/assets/img/testimonials.png" class="img-fluid floating mb-5 mx-auto mx-md-0 d-block d-md-none" alt="" loading="lazy">
                    <p class="section-text mt-3 mb-5 text-center px-5">Cryptocurrency markets have seen an increase in volume in<br>recent weeks, which is a great opportunity for new traders.</p>

                    <div class="row">

                        <div class="col">
                            <div class="accordion" id="faq-1">

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                              </div>
                        </div>

                        <div class="col">
                            <div class="accordion" id="faq-2">

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                        <strong>Why is Blockchain a trustworthy approach?</strong>
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                                    <div class="accordion-body">
                                        Blockchain can be trustworthy thanks to such a large amount of reasons.Its compatibility with different business applications thanks to its open-source nature.
                                    </div>
                                  </div>
                                </div>

                              </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>

<%- include('partials/footer') %>