<%- include('partials/header')%>

    <!-- =========================================================================================
                        JOIN WAITING LIST SECTION
    ===============================================================================================-->
    <section class="section mt-5 py-auto">

        <div class="container">

            <div class="row d-flex align-items-center gx-5">

                <div class="col-md-6 py-5 d-flex flex-column flex-row-md align-items-md-start">

                    <h2 class="section-heading d-block d-md-none text-center text-md-start mb-5">Join <span>Waitlist</span></h2>

                    <img src="assets/img/calm.png" class="img-fluid floating mb-5 mx-auto mx-md-0" alt="" loading="lazy">
                </div>

                <div class="col-md-5 py-md-5">

                    <h2 class="section-heading d-none d-md-block text-center text-md-start">Join <span>Waitlist</span></h2>

                    <p class="section-text pe-md-5 mt-3 text-center text-md-start">We will inform you when our minties are released, Please leave your informations</p>
                    <form action="" class="my-3">
                        <div class="mb-3">
                            <label for="name" class="form-label fw-semibold fs-5">Name</label>
                            <input type="text" class="form-control form-control-lg" id="name" placeholder="your name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label fw-semibold fs-5">Email <sup class="text-danger">*</sup></label>
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="you@email.com">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="agree">
                            <label class="form-check-label" for="agree">Lorem ipsum dollar sit amet.</label>
                          </div>
                    </form>
                    <a href="#" class="btn btn-primary btn-md-lg default-button primary-button text-uppercase d-block" role="button">Email Me When We Released</a>
                </div>

                

            </div>

        </div>

    </section>

<%- include('partials/footer')%>

