        @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css');

        :root {
        --primary: #39B54A;
        --accent: #116C1B;
        --text: #6E6E6E;
        --secondary: #252525;
        --white: #ffffff;

        }
        
        body {
            font-family: 'Poppins', sans-serif;
            background: var(--white) url("../img/body_bg.webp");
            background-size: cover;
            left: 0px;
            top: 0px;
            height: auto;
        }

        footer {
            background: var(--white) url("../img/footer_bg.webp") no-repeat;
            background-size: cover;
        }

        h1 {
            font-size: 8em;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--primary);
        }

        h1 > span {
            color: var(--secondary);
        }

        h2 > span {
            color: var(--primary);
        }

        .nav-item {
            padding-right: 1em;
        }

        .nav-link {
            font-size: 1.2em;
            font-weight: 500;
        }

        .lead {
            font-size: 1.5em;
            font-weight: 500;
        }

        .default-button {
            font-weight: 500;
            background-color: transparent;
            border-radius: 8px;
            padding: 15px 70px;
            border: 0px;
        }

        .transparent-button:hover {
            background-image: linear-gradient(#3dd750, #7ccff9 );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .default-button > img {
            width: 30px;
            margin-right: 5px;
        }

        .primary-button {
            background-image: linear-gradient(180deg, var(--primary) 29%, #1a9928 100%);
        }

        .primary-button:hover {
            background-image: linear-gradient(180deg, #1a9928 30%, var(--primary) 100%);
        }

        .secondary-button {
            background-image: linear-gradient(180deg, #F3BA2F 39%, #D1A12E 100%);
        }

        .floating {
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        @keyframes floating {
            0% { transform: translate(0, 0px); }
            50% { transform: translate(0, 15px); }
            100% { transform: translate(0, -0px); }
        }

        .gradient-text {
            background-image: linear-gradient(#3dd750, #7ccff9 );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .glassmorphic {
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgb(31 38 135 / 7%);
            backdrop-filter: blur( 3.5px );
            -webkit-backdrop-filter: blur( 3.5px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

        .section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section-heading {
            font-size: 3em;
            font-weight: 900;
        }

        .section-text {
            font-size: 1.3em;
            font-weight: 500;
            color: var(--text);
        }

        #hero {
            background: var(--white) url('../img/hero_background.webp') no-repeat;
            background-size: cover;
            height: 130vh;
        }
        
        #coin-one {
            top: 900px;
            right: 970px;
        }

        #coin-two {
            width: 300px;
            top: 250px;
        }

        #coin-three {
            right: 620px;
            top: 600px;
        }

        #countries-row {
            margin-top: 70vh;
        }

        #countries-row h2 {
            font-size: 1.5em;
            font-weight: 700;
        }

        #countries-row ul > li {
            display: inline-block;
        }

        #get-access-nft-section {
            margin-top: 200px;
        }

        #shape-2 {
            margin-left: 280px;
        }

        #shape-3 {
            margin-top: 430px;
        }

        #author-section {
            margin-top: 200px;
        }

        #author-section-text-area {
            padding-top: 180px;
        }
        
        #shape-4 {
            margin-top: 200px;
        }

        #shape-5 {
            margin-top: 300px;
        }

        #readers-img {
            margin-top: 100px;
        }

        #earn-from-everywhere-section {
            background-image: url("../img/earn_from_everywhere.webp");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            padding: 450px 0px;
        }

        #earn-from-everywhere-section h2 {
            color: var( --secondary );
            font-family: "Poppins", Sans-serif;
            font-size: 130px;
            font-weight: 700;
            text-transform: uppercase;
        }

        #earn-from-everywhere-section h2:nth-child(2) {
            font-size: 50px;
            font-weight: normal;
         }

        #earn-from-everywhere-section h2:nth-child(3) {
            font-size: 80px;
         }

         #hypez {
            color: #686DF3;
            font-size: 80px;
            font-weight: 800;
         }

         footer p {
            color: var( --secondary );
            font-size: 1em;
            font-weight: 500;
         }

         #roadmap {
            margin-top: 100px;
         }

         #roadmap ul {
            color: var(--text);
            font-weight: 500;
         }

         #roadmap ul > li {
            line-height: 35px;
         }

         #phase-3-factory-img {
            margin-top: -100px;
            width: 300px;
         }

         #phase-2-row {
            margin-top: 100px;
         }

         #skate-bar-2 {
            margin-top: -300px;
         }

         #skater-2-img {
            width: 150px;
            margin-top: -410px;
         }

         #phase-3 {
            margin-top: -60px;
         }

         #skater-3-img {
            margin-top: -250px;
         }

         #phase-4-text-area {
            margin-top: -100px;
         }

         #team-section {
            margin-top: 300px;
         }


        
         


        @media screen and (min-width: 576px) {

        }

        


        @media screen and (min-width: 1366px){

            #coin-one {
                top: 400px;
                right: 400px;
                width: 100px;
            }

            #coin-two {
                right: 220px;
                top: 300px;
                width: 160px;
            }

            #coin-three {
                width: 190px;
                top: 100px;
                right: 480px;
            }

            #countries-row {
                margin-top: 45vh;
            }
        }


        @media screen and (min-width: 1920px){
            #coin-one {
                top: 600px;
                right: 570px;
                width: 150px;
            }

            #coin-two {
                width: 270px;
                top: 100px;
                right: 700px;
            }

            #coin-three {
                right: 320px;
                top: 430px;
            }

            #countries-row {
                margin-top: 45vh;
            }
        }